.row input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn{
    margin-top: 5px;
   background-color:#b71f4a;
   color: white;
}
hr{
    width: 28px;
    border: 1.5px solid;
    color: #fec155;
    margin: 5px;
}
ul{
    display: flex;
    padding: 0;
}
span i{
    padding-right:6px; 
}
h2{
    font-size: 38px;
    font-weight: 700;
}
.icons{
    display: flex;
}
ul li a i{
    padding-right: 20px !important;
    color: #303644;
}
ul li{
    list-style-type: none;
}
.contact-us{
    background-color:white;
}
.wrapper{
    margin: 0 150px;
}
.brands-image{
    border: 1px solid black;
        text-align: center;    
}
.brands{
    margin-bottom: 5%;
}
.brand-content{
    padding-top: 2%;
}
.brand-content + .row{
    margin-top: 5%;
}
.wrapper h2{
    text-align: center;
    position: relative;
}
.hori{
    width: 28px;
    border: 1.5px solid;
    color: #e2e213;
    float: none;
    margin: 5px;
    position: absolute;
    left: 635px;
}
.flex-nav-next a::before{
        background-image:url(image/right-chevron.png)!important; 
        height: 100%;
        width: 100%;
        content: '' !important;
        background-size:contain; 
        background-color: white; 
}
 .flex-nav-prev a::before{
    background-image:url(image/right-chevron2.png)!important; 
    height: 100%;
    width: 100%;
    content: '' !important;
    background-size:contain;
    color: white; 
    background-color: white;

} 
.about-us .col-md-6{
    padding-left: 0px !important;
    padding-right:0px !important;
}
.col-md-6 input{
    background-color: #ccc;
}
.footer-list li{
    list-style-type: none;
    padding: 15px;
}
*{
	margin: 0px;
}
.nav-menu-ul li{
	list-style-type: none;
   padding: 15px;
  font-size: 15px;   
  background-color: #e2e3e4;  
}
.nav-menu-ul{
	display: flex;
	margin-bottom: 0px !important;
}
.menu{
	display: flex;
    justify-content: flex-end;
}
.logo img{	
	height: 40px;
}
.logo{
	width: 21%;
	padding: 15px 10px 0 10px;
} 
header{
	background-color:  white; 
}
.wrapper{
	margin: 0px 100px;
}
.nav-menu-ul li a{
	text-decoration:none; 
	color: black;
}
.search-container{
    position: relative;
    padding: 20px;
    background-color: #e2e3e4;
}
.search-container:before{
    content: "\f00e";
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    top: 13px;
    left: 14px;
    position: absolute; 
}
.head-content{
    padding: 0 20px;
}
.about-us .abt-content{
    background-color: #efefef;
    padding: 20px ! important;
}
.about-image{
    display: flex;
}
.about-image i img{
    width: 130px;
    padding: 10px;
}
.about-image{
    border-top:1.5px solid; 
}
.abt-content2{
    margin-top:45px; 
}
.aboutus-image{
    width: 100%;
    height: 386px;
    background:url('./image/download1.jpeg') no-repeat center;
    background-size: cover;
}
.about-us{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    display: flex;
    background-color:#303644;
}
.footer-content{
    padding-top:23px;
    margin-left: 30px;
    color: white;
    font-size:15px; 
}
.footer-list{
    margin-left: 135px;
    color: white;
    font-size: 15px;
    padding-top:7px;
}
p  {
    font-size: 15px;
}
.carousel-control {
    font-size: 40px;
    position: absolute;
    top: 37%;
}
.overview-head{
    text-align: center;
}
.hori1{
    margin-left: 50%;
}
.overview-head{
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.overview-btn{
    background-color: #b71f4a;
    color: white;
    padding: 2px 14px;
    margin-top: 30px;
}
.overview-hori{
    width: 83px;
    border: 1.5px solid;
    color: white;
    margin: 0 97px;
}
.overview-branch{
  color: white;
  height: 400px;
  padding: 0 !important;
}
.overview-content{
    color: white;
    height: 200px;
}
.overview-text{
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.overview-hover{
    display: none;
}
.overview-content:hover .overview-hover{
display: block;
}
.overview-content:hover .overview-text{
    display: none;
}
.overview-hover .fa-plus{
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    display: block;  
}
.overview-content:hover{
    background-color: red !important;
}
.overview-content{
    background-image: url(image/china1.png);
}


.overview-branch:hover .overview-hover{
display: block;
}
.overview-branch:hover .overview-text{
     display: none;
    
    }
    .overview-branch:hover{
        background-color: red !important;
    }
.overview-branch{
    background-image: url(image/china1.png);
}
.flexslider .slides li{
    display: block !important;
}
.construct-content h2{
    text-align: center;
}
.construct-content hr{
    width: 28px;
    border: 1.5px solid;
    color: #fec155;
    margin-left: 48%;
}
ol.flex-control-nav{
    display: none !important;
}
.construct{
    background-color: #efefef;
    height: 550px;
}
.construct-wrap{
    margin: 6px;
    padding-top: 4%;
}
.construct-content{
    padding-top: 1%;
}
.flexslider{
    border: 0 !important;
   
}
.slider-left {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
} 
.slider-right {
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 20px;
} 
.flex-nav-prev a:before{
    background-image: url()

}
.brands-content1{
 margin-bottom: 10px !important;
}

.abt-head{
    display: none;
}  

@media only screen and (max-width: 767px) {
.aboutus-image{
    height: 183px !important;

}
.abt-content h2 {
    font-size: 20px;
    font-weight: 500;
}
.abt-content p{
    font-size: 13px;
}
.about-image i img {
    width: 84px;
}
.overview-head h2{
    font-size: 22px;
    font-weight: 500;
}
.overview-head hr{
    width: 16px;
}
.overview-btn{
    padding: 1px 5px;
    margin-top: 15px;

}
.about-row{
    display: flex;
}
.overview-branch{
    height: 330px;
    width: 100%;
    background-position: center;
    margin-bottom: 10px;
}
.overview-content{
    margin-bottom: 10px;
}
.wrapper{
    margin: 0;
    position: relative;
}
.brands-image{
    margin-bottom: 10px;
}
.brand-content{
    font-size: 25px;
    font-weight: 600;
}
.brands-content1{
    margin-bottom: 0!important;
}
hr.hori{
    left:44%;
    top: -1%;
    margin: 10px 0;
}
.construct{
    height: auto;
}
.construct-content{
    padding-bottom: 15px;
}
.construct-content h2{
    font-size: 16px;
    font-weight: 500;
}
.construct-content hr{
    border:1px solid;
    width:17px;
}
.flex-next,.flex-prev{
    width: 30px!important;
    height: 30px!important;
}
.contact-us h2{
    font-size: 25px;
    font-weight: 600;
}
.contact-us hr{
    width:23px;
    border: 1px solid;
}
.contact-us p{
    font-size: 13px;
}
.input-field label{
    margin-bottom: 0 !important;
}
.input-field input{
padding: 8px 12px;
margin: 4px 0;
}
.input-field > .tarea{
    height: 150px!important;
}
h4{
 font-size: 1.2rem;
}
.nav-menu{
    display: none;
}
.footer-list{
    display: block;
    text-align: center;
    margin-left: 0;
    
}
footer{
    display: block;
}
.construct-content{
    height: 208.75px;
}
.overview-btn{
    margin-top: 0px;
}
.flexslider{
    margin-bottom:30px !important;
}
.site-info hr{
    display: none !important;
}
.site-info h4{
    display: none !important;
}
.construct{
    height: 210px !important;
}
.footer-content{
    margin-left: 0px;
}
.footer-list li{
    padding: 10px !important;
}
form{
    padding-bottom: 10px;
}
}

@media only screen and (max-width: 1024px){  
    .aboutus-image{
        height: 386px !important;
    }
    .contact-us p{
        font-size: 10px;
    }
    .brands-image img{
        width: 100%;
    }
    .about-image i img {
        width: 100%;
    }
    .footer-list{
        display: block;
        text-align: center;
        margin-left: 0;
    }
    footer{
        display: block;
    }
    .footer-content{
        text-align: center;
        
    }
    .abt-head h2{
        font-size: 20px;
        font-weight: 500;
    }
    .abt-content hr{
        display: none;
    }
    .abt-content h2{
        display: none;
    }
    .about-us{
        background-color: #efefef;
        padding-top: 1%;
    }
    .abt-head hr{
        width: 16px;
    }
    .overview-content{
        height: 330px;
        background-position: center;
    }
    
    .btn{
        padding: 2px 7px;
    }
    .icons {
        margin-top: 3%;
    }
    .overview-head{
        margin-top: -20px;
        margin-bottom: 20px;

    }
    .flexslider{
        margin-bottom: 20px;
    }
    .brands{
        margin-bottom: 30px;
    }
    .brand-content + .row{
        margin-top: 0;
    }
    .construct-content{
        height: 347.67188px;
    }
    .site-info h4{
        display: block;
    }
    .site-info hr{
        display: block;
    }
    .construct{
        height: 400px;
    }
     /* .wrapper{
        margin: 0;
    } */
    .wrapper .hori{
        left: 356px !important;
    }
    button{
    padding: 6px 15px;
    font-size: 20px;
    }
    .abt-head{
    display: block;
    }
}
